
/* Button  */
.button_Menu {
  margin-top: 20px;
  

  & .btn_menu {
    width: 110px;
    border: 1px solid rgba(0, 0, 0, 0.186);
    margin-bottom: 5px;
    font-size: 10px;
    font-weight: bold;
  }
}